@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.desktop {
  display: flex;
  width: 100%;
  height: 100%;
  background: url("../png/background.png");
  background-size: cover;
}

.task_bar {
  display: flex;
  width: 64px;
  height: 100%;
  background: rgba(0, 0, 0, 0.6666666667);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.task_bar__icons {
  display: flex;
  flex-direction: column;
}

.icon {
  padding: 6px;
  transition-duration: 0.2s;
}
.icon img {
  margin: 6px;
  width: 40px;
  height: 40px;
  transition-duration: 0.1s;
}
.icon:hover {
  background: rgba(0, 0, 0, 0.3333333333);
  cursor: pointer;
}
.icon:active img {
  transform: scale(0.7);
}
.icon__active {
  padding-left: 3px;
  background: rgba(0, 0, 0, 0.6);
  border-left: 3px solid #5294e2;
}