@import "null.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.desktop {
    display: flex;
    width: 100%;
    height: 100%;
    background: url("../png/background.png");
    background-size: cover;
    font-family: "Manrope", sans-serif;
}

.task_bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64px;
    height: 100%;
    background: #000000aa;
    backdrop-filter: blur(8px);

    &__icons {
        display: flex;
        flex-direction: column;
    }

    &__tray {
        display: flex;
        flex-direction: column;
    }
}

.icon {
    padding: 6px;
    transition-duration: 0.2s;
    img {
        margin: 6px;
        width: 40px;
        height: 40px;
        transition-duration: 0.1s;
    }

    &:hover {
        background: #00000055;
        cursor: pointer;
    }
    &:active img {
        transform: scale(0.7);
    }

    &__active {
        padding-left: 3px;
        background: #00000099;
        border-left: 3px solid #5294e2;
    }
}

.tray { 
    padding: 12px;
    &__time {
        margin-top: 24px;
        color: #ffffff;
        font-size: 18px;
    }
    &__status {
        padding: 6px 10px;
        border-radius: 6px;
        img {
            width: 20px;
            height: 20px;
        }
        &:hover{
            background: #00000055;
            
        }
    }
}
